name: Tag or Manual Release

on:
  push:    # 任意 push 都触发
  workflow_dispatch: # 手动触发

jobs:
  release:
    runs-on: ubuntu-latest
    # 只要最后一次提交信息包含字母 v 就执行
    if: ${{ contains(github.event.head_commit.message, 'v') || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload Assets to Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name || 'manual-release' }}
          files: "*.zip"
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.MY_PAT }}
